<form name="input" action="/update" method="post">
	<input type="hidden" name="id" value=<%= @project.id %> >

	<h1> <%= @project.name %></h1>

	<h2><%= @project.client %></h2>

	<h2><%= @project.title %></h2>

	<p>
		<select name="status">
			<option value="external" <%= 'selected="selected"' if @project.status == "external" %> >external</option>
			<option value="internal"  <%= 'selected="selected"' if @project.status == "internal" %> >internal</option>
		</select>
	</p>

	<% unless @project.components.empty? %>
		<h3>components:</h3>
		<ul>
			<% @project.components.each do |component| %>
				<li><%= component.to_s %></li>
			<% end %>
		</ul>
	<% end %>

	<p><input type="checkbox" name="components[]" value="design_server" <%= 'checked disabled' if @project.components.include? :design_server %> />design_server</p>
	<p><input type="checkbox" name="components[]" value="edit_server" <%= 'checked disabled' if @project.components.include? :edit_server %> />edit_server</p>

	<input type="submit" value="Submit">
</form>